  body{
            display: flex;
            flex-direction: column;
            -webkit-box-align: center;
            align-items: center;
            min-height: 100vh;
            min-width: 100%;
            /*overflow: hidden;*/
            background: rgb(250, 250, 250);
            color: rgb(33, 33, 33);
            margin: 0px !important; 
        }
        .header{
            display: flex;
            flex-direction: row;
            -webkit-box-pack: justify;
            justify-content: space-between;
            -webkit-box-align: center;
            align-items: center;
            background: url(/img/background-stripe.png) center top repeat-y;
            /*background-size: 565px;*/
        }

        .div-content {
            flex: 1 1 auto;
            width: 100%;
            max-width: 735px;
            box-sizing: border-box;
            padding: 0px 12px;
            margin: 10px 5px;
        }
        .wrapper-header{
            display: flex;
            flex-direction: column;
            -webkit-box-align: center;
            align-items: center;
            width: 100%;
            background: #ededed;
            box-shadow: rgb(0 0 0 / 20%) 0px 0px 4px 0px;
        }
        .v-txt{
            line-height: 18px;
            font-size: 14px;
            font-family: "Open Sans", Helvetica, Arial, sans-serif;
            -webkit-font-smoothing: antialiased;
            font-stretch: normal;
            font-weight: 400;
        }

        .inner-content {
            padding: 36px 0px;
            border-bottom: 1px solid rgb(224, 224, 224);
            display: flex;
            -webkit-box-pack: justify;
            justify-content: space-between;
        }
        .option-div {
            max-width: 380px;
        }
        .settings-txt {
            line-height: 30px;
            font-size: 18px;
            font-family: "Open Sans", Helvetica, Arial, sans-serif;
            -webkit-font-smoothing: antialiased;
            font-stretch: normal;
            font-weight: 700;
        }
        .help-txt {
            line-height: 24px;
            font-size: 16px;
            font-family: "Open Sans", Helvetica, Arial, sans-serif;
            -webkit-font-smoothing: antialiased;
            font-stretch: normal;
            font-weight: 400;
        }
        .action-icon {
            text-align: right;
        }
        .switch {
            position: relative;
            display: block;
            height: 26px;
            width: 49px;
        }
        .switch > input {
            opacity: 0;
            margin-left: -9999px;
        }


        .switch > input + label {
            position: relative;
            float: left;
            width: 150px;
            cursor: pointer;
            user-select: none;
        }

        input[type="checkbox" i] {
            background-color: initial;
            cursor: default;
            appearance: auto;
            box-sizing: border-box;
            margin: 3px 3px 3px 4px;
            padding: initial;
            border: initial;
        }
        .switch > input:checked + label::before {
            background-color: rgb(135, 169, 255);
        }
        .switch > input + label::before {
            top: 4px;
            left: 9px;
            width: 32px;
            height: 13px;
            border-radius: 12px;
            background-color: rgb(189, 189, 189);
        }
        .switch > input + label::before, .switch > input + label::after {
            position: absolute;
            display: block;
            content: " ";
            transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
        }
        .switch > input:checked + label::after {
            left: 21px;
            background-color: rgb(33, 95, 255);
            border-color: rgb(33, 95, 255);
        }
        .switch > input + label::after {
            top: 0px;
            left: 0px;
            bottom: 0.1em;
            margin-left: 0.1em;
            background-color: rgb(255, 255, 255);
            width: 17px;
            height: 17px;
            border-radius: 50%;
            border: 2px solid rgb(255, 255, 255);
            box-shadow: rgb(0 0 0 / 14%) 0px 3px 4px 0px, rgb(0 0 0 / 20%) 0px 3px 3px -2px, rgb(0 0 0 / 12%) 0px 1px 8px 0px;
        }

        .disable-btn{
            line-height: 18px;
            font-size: 14px;
            -webkit-font-smoothing: antialiased;
            font-stretch: normal;
            font-weight: 400;
            color: #e10337;
            text-transform: uppercase;
            text-decoration: none;
        }
        .chrome-btn{
            line-height: 24px;
            font-size: 18px;
             -webkit-font-smoothing: antialiased;
            font-stretch: normal;
            font-weight: 400;
            padding: 6px 0px;
            color: rgb(33, 95, 255);
            text-decoration: none;
        }
        .a-chrome{
            color: rgb(33, 95, 255);
            text-decoration: none;
            cursor: pointer;
        }
        .a-chrome:hover,.disable-btn:hover{
            text-decoration: underline;
        }
        .footer-content{
            padding: 30px 0px;
        }