body {
  border: 0;
  padding: 0;
  width: 100%;
  margin: 0 auto;
  max-width: 1080px;
  font-family: arial, sans-serif;
}

body, table {
  color: #000;
  font-size: 14px;
}

table {
  width: 100%;
}

table, label {
  user-select: none;
}

.content table {
  border-spacing: 15px;
}

.content table tr td {
  height: 42px;
  padding: 0 15px;
  line-height: 42px;
}

.content table tr td label {
  cursor: pointer;
}

.content table tr td label.sub {
  padding-left: 10px;
}

.content table tr td input[type='checkbox'] {
  margin: 0;
  vertical-align: middle;
}

.content table .title {
  font-weight: 600;
}

.content table .separator {
  height: 1px;
  background: rgba(0, 0, 0, 0.05);
}

.content table .checkbox {
  width: 72px;
  max-width: 72px;
  text-align: center;
}

.toolbar {
  top: 0;
  right: 0;
  width: 42px;
  z-index: 11;
  position: absolute;
}

.toolbar table {
  width: 100%;
  border-spacing: 0;
  table-layout: fixed;
}

.toolbar table tr td {
  padding: 0;
  width: 100%;
  height: 42px;
  cursor: pointer;
  user-select: none;
  text-align: center;
  transition: 300ms ease background-color;
}

.toolbar table tr td:hover {
  background-color: rgba(0,0,0,0.05);
}

.toolbar table tr td svg {
  fill: #555;
  pointer-events: none;
  vertical-align: middle;
}

.logo {
  width: 100%;
  height: 128px;
  border-bottom: solid 1px rgba(0,0,0,0.1);
  background: url('../icons/128.png') no-repeat center center;
  background-size: 64px;
}
