@font-face {
  font-weight: 400;
  font-style: normal;
  font-family: 'Oswald';
  src: local('Oswald-Regular'), url(../fonts/Oswald.woff2) format('woff2');
}

html, body {
  overflow: hidden;
  height: fit-content;
}

body {
  width: 790px;
  background-color: #fff;
}

body, table {
  color: #333;
  font-size: 13px;
  font-weight: 100;
  letter-spacing: 0.5px;
  font-family: Oswald, sans-serif;
}

audio {
  width: 0;
  height: 0;
}

html, body, table, audio, .holder, a {
  border: 0;
  margin: 0;
  padding: 0;
}

table tr {
  transition: 300ms outline;
}

table tr td {
  color: #333;
  transition: 300ms ease all;
}

p {
  padding: 5px;
  line-height: 18px;
}

.logo {
  width: 58px;
  height: 58px;
  background: url('../icons/48.png') no-repeat center center;
  background-size: 24px;
}

.audio-list-table {
  padding: 0;
  width: 100%;
  margin: auto;
  border-spacing: 5px;
}

.audio-list-table tr {
  background-color: #fff;
  outline: solid 1px rgba(0,0,0,0.1);
}

.audio-list-table tr:hover,
.audio-list-controls tr td:hover {
  outline: solid 1px #b1b1b1;
}

.audio-list-table tr td {
  height: 38px;
}

.audio-list-table tr td[rule='index'] {
  width: 38px;
  min-width: 38px;
  max-width: 38px;
  text-align: center;
}

.audio-list-table tr td a {
  white-space: nowrap;
  text-decoration: none;
}

.audio-list-table tr td[rule='url'] {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  text-overflow: ellipsis;
}

.audio-list-table tr td[rule='url'] a[href] {
  color: #005ded;
}

.audio-list-table tr td[rule='resolution'] {
  width: 80px;
  min-width: 80px;
  max-width: 80px;
  overflow: hidden;
  text-align: center;
}

.audio-list-table tr td[rule='size'] {
  width: 60px;
  min-width: 60px;
  max-width: 60px;
  overflow: hidden;
  text-align: center;
}

.audio-list-table tr td[rule='copy'],
.audio-list-table tr td[rule='delete'],
.audio-list-table tr td[rule='download'] {
  width: 38px;
  cursor: pointer;
  min-width: 38px;
  max-width: 38px;
  text-align: center;
  font-family: monospace;
}

.audio-list-table tr td[rule='copy'] {font-size: 15px}
.audio-list-table tr td[rule='delete'] {font-size: 13px}
.audio-list-table tr td[rule='download'] {font-size: 19px}
.audio-list-table tr td[rule='delete']:hover {color: #fff}

.audio-list-table tr td[rule='copy']:hover,
.audio-list-table tr td[rule='download']:hover {
  color: #fff;
  background-color: rgba(0,0,0,0.5);
}

.audio-list-controls {
  width: 100%;
  text-align: center;
  border-spacing: 5px;
}

.audio-list-controls tr td {
  height: 38px;
  min-width: 42px;
  cursor: pointer;
  background-color: #f1f1f1;
  outline: solid 1px #E0E0E0;
}

.audio-list-controls tr td svg {
  fill: #555;
  margin-top: -2px;
  user-select: none;
  vertical-align: middle;
}

.audio-list-controls tr td.large {
  width: 110px;
  min-width: 110px;
  max-width: 110px;
}

.audio-list-controls tr td.small {
  width: 42px;
  min-width: 42px;
  max-width: 42px;
}

.audio-list-table tr td[rule='delete']:hover {
  background-color: #C75050;
}

.audio-list-controls tr td[state='inactive'] {
  color: white;
  background-color: #e02536;
  outline: solid 1px #e02536;
}

.header {
  height: 42px;
  border-spacing: 5px 0;
  background-color: transparent;
}

.header tr td {
  cursor: default;
}

.header tr td[rule='action'] {
  width: 165px;
  min-width: 165px;
  max-width: 165px;
  text-indent: 10px;
}

.header  tr td[rule='url'] {
  width: auto;
}

.header  tr td[rule='title'] {
  text-indent: 32px;
  background: url('../icons/48.png') no-repeat 0 center;
  background-size: 24px;
}

.header tr, .header tr:hover {
  outline: none;
}

.header tr {
  box-shadow: none;
  background-color: transparent;
}

.header,
.audio-list-controls tr td,
.audio-list-table tr td[rule='index'] {
  user-select: none;
}

#resolution {
  display: none;
}

#container {
  width: 100%;
  height: 400px;
  min-height: 400px;
  max-height: 400px;
  overflow-x: hidden;
  overflow-y: scroll;
  box-sizing: border-box;
  border-top: solid 1px rgba(0,0,0,0.1);
  border-bottom: solid 1px rgba(0,0,0,0.1);
}

html[theme='dark'], 
html[theme='dark'] body {
  color: #ebebeb;
  color-scheme: dark;
  background-color: #1e1e1e;
}

html[theme='dark'] #explore a:hover,
html[theme='dark'] #explore .explore:hover {
  background-color: rgb(0 0 0 / 25%);
}

html[theme='dark'] .audio-list-table tr td[rule="copy"]:hover,
html[theme='dark'] .audio-list-table tr td[rule="download"]:hover {
  background-color: rgb(0 0 0 / 75%);
}

html[theme='dark'] .audio-list-table tr td {
  color: #ebebeb;
  background-color: #1e1e1e;
}

html[theme='dark'] .audio-list-controls tr td {
  color: #ebebeb;
  background-color: #313131;
}

html[theme='dark'] .audio-list-table tr td[rule='url'] a[href] {
  color: #65a2ff;
}

html[theme='dark'] #explore,
html[theme='dark'] #explore a,
html[theme='dark'] #explore .explore {
  color: #ebebeb;
}

html[theme='dark'] #container,
html[theme='dark'] #explore .spacer {
  border-color: rgb(255 255 255 / 25%) !important;
}

html[theme='dark'] .audio-list-table tr,
html[theme='dark'] .audio-list-controls tr td {
  outline-color: rgb(255 255 255 / 25%);
}

html[theme='dark'] .audio-list-table tr:hover,
html[theme='dark'] .audio-list-controls tr td:hover {
  outline-color: rgb(255 255 255 / 50%);
}

html[theme='dark'] .audio-list-controls tr td svg {
  fill: #ebebeb;
}
