* {
    font-family: 'Mulish', sans-serif;
}

div, p, strong, button {
    margin: 0px;
    padding: 0px;
}

.myloft-order-container {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 21474836;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    min-width: 350px;
    border-radius: 12px 12px 0px 0px;
    padding: 10px;
    animation-name: slidein;
    animation-duration: 0.5s;
    box-shadow:
        0px -8px 12px rgba(0, 0, 0, 0.1),
        8px 0px 12px rgba(0, 0, 0, 0.1),
        -8px 0px 12px rgba(0, 0, 0, 0.1);
}

.myloft-order-header-image {
    width: 150px;
}

.myloft-order-button {
    margin: 0px;
    padding: 0px 12px 0px 12px;
    background-color: #253a69;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    min-width: 80px;
    height: 34px;
    font-size: 14px;
    font-weight: 600;
    margin-left: 30px;
}

.myloft-order-button:hover {
    background-color: #192849;
}

.myloft-close-button {
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border-radius: 50%;
    height: 36px;
    width: 36px;
    border: none;
}

.myloft-close-button:hover {
    background-color: #f0f0f0;
}

.myloft-order-detail-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 21474836;
    display: flex;
    align-items: center;
    justify-content: center;
}

.myloft-order-detail-blur-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}


/* ------------ */

.myloft-order-detail-wrapper {
    background-color: white;
    box-shadow: 0px 1px 1px 0px #00000040;
    border: 1px solid #dbdce0;
    width: 600px;
    z-index: 21474836;
    padding: 24px;
    border-radius: 6px;
}

.myloft-order-title {
    margin-top: 0px;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
}

.myloft-order-journal-details {
    font-size: 15px;
}

.myloft-order-journal-details strong {
    /* color: #3D4F55; */
}

.myloft-order-journal-details p {
    padding-bottom: 8px;
}

.myloft-order-hr {
    margin: 10px 0px;
    border: 1px solid #dbdce0;
}

.myloft-buy-title {
    font-size: 16px;
    margin-bottom: 10px;
}

.myloft-buy-form {
    width: inherit;
    padding-bottom: 1px;
}

.myloft-buy-form label {
    font-size: 14px;
    font-weight: 800;
}

/* radio button style */

input[type="radio"] {
    -webkit-appearance: none;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    outline: none;
    box-shadow: 0 0 0 2px #8895ae;
}

input[type="radio"]:checked {
    box-shadow: 0 0 0 2px #43BEE2;
}

input[type="radio"]:before {
    content: "";
    display: block;
    width: 60%;
    height: 60%;
    margin: 20% auto;
    border-radius: 50%;
}

input[type="radio"]:checked:before {
    background: #43BEE2;
}

.myloft-form-item {
    display: flex;
    justify-content: flex-start;
    gap: 5px;
    margin-bottom: 5px;
}

.myloft-article-buy-ul {
    margin: 0px;
    font-size: 15px;
}

.myloft-article-buy-ul p {
    font-weight: 500;
}

.exceed-limit {
    color: red;
    list-style-type: disc;
    margin-top: 5px;
}

.exceed-limit::marker {
    color: red;
}

.request-container {
    margin-top: 20px;
}

.request-title {
    font-weight: bold;
    color: #60686B;
    margin-bottom: 5px;
}

.request-input {
    width: 100%;
    max-width: 100%;
    padding: 10px;
    border: 1px solid #C6C6C6;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: white;
    color: black;
}

.request-input:focus {
    border: 1px solid #C6C6C6;
    outline: none;
    background-color: white;
    color: black;
}

.bottom-text-for-request {
    font-size: 15px;
    font-weight: 500;
    font-style: italic;
}

.order-justification {
    max-width: 100%;
    overflow: hidden;
    white-space: normal;
    word-break: break-word;
}

.max-text-size-warn {
    color: red;
    font-size: 12px;
    padding-top: 2px;
    display: none;
}

.myloft-form-item-wrapper {
    margin-bottom: 12px;
}

.myloft-form-item label {
    cursor: pointer;
    color:#202020;
    font-size: 15px;
    font-weight: 600;
}

.myloft-form-item input {
    cursor: pointer;
}

.myloft-form-item input {
 margin-top: 4px;
}

.myloft-form-item-desc {
    font-size: 14px;
    padding-left: 23px;
}

.myloft-hidden {
    display: none;
}

.myloft-block {
    display: block;
}

.myloft-popup-notification {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #43BEE2;;
    color: white;
    padding: 1rem;
    border-radius: 4px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 21474836;
}

.myloft-order-form-btn-container {
    display: flex;
    gap: 20px;
    width: 100%;
    justify-content: flex-end;
    margin-top: 20px;
}

.myloft-order-form-cancel-btn {
    padding: 0px 14px 0px 14px;
    background-color: #f1f1f1;
    color: rgb(90, 90, 90);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 80px;
    height: 40px;
    font-size: 16px;
    font-weight: 600;
}

.myloft-order-status-details p {
    padding-bottom: 8px;
}

.myloft-order-status-details {
    font-size: 15px;
}

.bold-text {
    font-weight: 600;
    text-transform: capitalize;
}

.myloft-order-form-buy-btn {
    padding: 0px 14px 0px 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #253a69;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    min-width: 80px;
    height: 40px;
    font-size: 15px;
    font-weight: 600;
}

.myloft-order-form-buy-btn:hover {
    background-color: #192849;
}

.myloft-order-form-buy-btn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
    opacity: 0.6;
}

.myloft-order-btn-spinner {
    margin-right: 3px;
    width: 10px;
    height: 10px;
    border: 3px solid rgba(255, 255, 255, 0.6);
    border-top: 3px solid #fff;
    border-radius: 50%;
    animation: myLoftOrderBtnSpin 1s linear infinite;
}

@keyframes myLoftOrderBtnSpin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.red-text {
    color: #FF0000;
}

.green-text {
    color: #008000;
}

.orange-text {
    color: #FFA500;
}

.green-background {
    background-color: #008000;
}

.green-background:hover {
    background-color: #006400;
}


.myloft-order-placed-indented-use {
    font-size: 15px;
}

.myloft-order-placed-indented-use p {
    margin-top: 5px;
}

.myloft-order-buy-wrapper ul {
    padding: 0px 0px 0px 30px;
}

/* -------------- */

.myloft-order-bubble-button-main {
    position: fixed;
    z-index: 2147483647;
    bottom: 30px;
    left: 16px;
}

.myloft-order-bubble-button {
    box-sizing: border-box;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    cursor: pointer;
}

.myloft-order-bubble-button-inner {
    display: flex; 
    align-items: center; 
    justify-content: center; 
    width: 100%; 
    height: 100%;
    box-sizing: border-box;
    --angle: 0deg;
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 8px 0px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    border: 3px solid #0000;
    background: linear-gradient(#ffffff, #ffffff) padding-box, linear-gradient(var(--angle), #43BEE2, #253a69) border-box;
    animation: 4s myloft-rotate linear infinite;
}

@keyframes myloft-rotate {
    from {
        --angle: 0deg;
    }

    to {
        --angle: 360deg;
    }
}

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}



@keyframes slidein {
    0% {
        margin-bottom: -2%;
        opacity: 0
    }

    to {
        margin-bottom: 0;
        opacity: 1
    }
}
