div#myloft-options {
    padding: 10px;
}

div#userProfile {
    font-size: 16px;
    padding: 5px;
    margin-bottom: 10px;
}

#logout{
    display: none;
}

#login{
    display: none;
}

#proxyToggleContainer {
    display: none;
}