.my-breakout-speaker-btn {
  background-color: rgb(105, 240, 174);
  box-shadow: black 2px 2px 4px;
  border-color: rgb(105, 240, 174);
  border: 1px solid rgb(105, 240, 174);
  height: 56px;
  width: 56px;
  z-index: 1;
  align-items: center;
  border-radius: 50%;
  white-space: nowrap;
  /* box-sizing: border-box; */
  display: inline-block;
  justify-content: center;
  transition: all 0.25s linear;

  cursor: pointer;

  /* flex-shrink: 0; */

  outline: none;
  /* margin: 16px 8px; */
  margin-right: 8px;
  vertical-align: middle;
  /* overflow: hidden; */
  /* position: relative; */
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}

.my-breakout-speaker-40 {
  height: 40px;
  width: 40px;
}

.my-breakout-speaker-icon {
  height: 56px;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  border-radius: 50%;
}
.my-breakout-speaker-muted {
  background-color: rgb(255, 82, 82);
  border-color: rgb(255, 82, 82);
  border: 1px solid #d93025;
  color: white !important;
}

.my-breakout-green {
  background-color: rgb(105, 240, 174) !important;
  border-color: rgb(105, 240, 174) !important;
}

.my-breakout-red {
  background-color: rgb(255, 82, 82) !important;
  border-color: rgb(255, 82, 82) !important;
}

.my-breakout-report-red {
  color: red;
}

.breakout-mute {
  background-color: rgb(239,83,80) !important;
  color: white !important;
}
.breakout-unmute {
  background-color: rgb(102,187,106) !important;
  color: white !important;
}