.services_container {
	/* Using flexbox to avoid whitespace from inline-blocks.
	 * It's also better at handling the #services float in Options
	 */
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
}

div:first-child {
	margin-top: 0px;
}

div.row, div.divider {
	width: 150px;
}

div.row {
	border: 1px solid transparent;
	color: #2a2a2a;
	cursor: pointer;
	display: inline-block;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-size: 16px;
	line-height: 24px;
	overflow: hidden;
	padding: 8px;
	text-align: left;
	text-overflow: ellipsis;
	white-space: nowrap;
}

div.divider {
	padding: 1px 3px;
	height: 0px;
	margin-top: 1px;
	background: #777777;
}

div.row:hover {
	background: #eee;
	border: 1px solid #eee;
}

/*
div.row:hover .icon {
	box-shadow: 0 0 1px 1px #9cbfff;
}
*/

div.icon {
	/* Google Chrome (at least versions 54,55) requires a background-color to avoid a bug where SVGs become tiled (or blurry) at some zoom levels */
	background-color: rgba(0, 0, 0, .01);
    background-size: 24px;
    border-radius: 4px;
    display: inline-block;
    height: 24px;
    line-height: 24px;
    margin-right: 5px;
    vertical-align: top;
    width: 24px;
}

div.no_icon {
	margin-right: 5px;
	width: 16px;
	height: 16px;
}

#attribution {
	border-top: 1px solid #f1f1f1;
	color: #2a2a2a;
	cursor: default;
	font-size: 75%;
	margin-top: 4px;
	padding: 2px 0;
	text-align: center;
}

#attribution img {
	margin-top: 2px;
}

/* Settings icon for Options */
div.a2a_s_extension_settings {
	background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%0D%0A%20%20%20%20%3Cpath%20d%3D%22M0%200h24v24h-24z%22%20fill%3D%22none%22%2F%3E%0D%0A%20%20%20%20%3Cpath%20d%3D%22M19.43%2012.98c.04-.32.07-.64.07-.98s-.03-.66-.07-.98l2.11-1.65c.19-.15.24-.42.12-.64l-2-3.46c-.12-.22-.39-.3-.61-.22l-2.49%201c-.52-.4-1.08-.73-1.69-.98l-.38-2.65c-.03-.24-.24-.42-.49-.42h-4c-.25%200-.46.18-.49.42l-.38%202.65c-.61.25-1.17.59-1.69.98l-2.49-1c-.23-.09-.49%200-.61.22l-2%203.46c-.13.22-.07.49.12.64l2.11%201.65c-.04.32-.07.65-.07.98s.03.66.07.98l-2.11%201.65c-.19.15-.24.42-.12.64l2%203.46c.12.22.39.3.61.22l2.49-1c.52.4%201.08.73%201.69.98l.38%202.65c.03.24.24.42.49.42h4c.25%200%20.46-.18.49-.42l.38-2.65c.61-.25%201.17-.59%201.69-.98l2.49%201c.23.09.49%200%20.61-.22l2-3.46c.12-.22.07-.49-.12-.64l-2.11-1.65zm-7.43%202.52c-1.93%200-3.5-1.57-3.5-3.5s1.57-3.5%203.5-3.5%203.5%201.57%203.5%203.5-1.57%203.5-3.5%203.5z%22%20fill%3D%22%231a1a1a%22%2F%3E%0D%0A%3C%2Fsvg%3E');
}

/* White settings icon */
:root {
	--white-settings-icon: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%0D%0A%20%20%20%20%3Cpath%20d%3D%22M0%200h24v24h-24z%22%20fill%3D%22none%22%2F%3E%0D%0A%20%20%20%20%3Cpath%20d%3D%22M19.43%2012.98c.04-.32.07-.64.07-.98s-.03-.66-.07-.98l2.11-1.65c.19-.15.24-.42.12-.64l-2-3.46c-.12-.22-.39-.3-.61-.22l-2.49%201c-.52-.4-1.08-.73-1.69-.98l-.38-2.65c-.03-.24-.24-.42-.49-.42h-4c-.25%200-.46.18-.49.42l-.38%202.65c-.61.25-1.17.59-1.69.98l-2.49-1c-.23-.09-.49%200-.61.22l-2%203.46c-.13.22-.07.49.12.64l2.11%201.65c-.04.32-.07.65-.07.98s.03.66.07.98l-2.11%201.65c-.19.15-.24.42-.12.64l2%203.46c.12.22.39.3.61.22l2.49-1c.52.4%201.08.73%201.69.98l.38%202.65c.03.24.24.42.49.42h4c.25%200%20.46-.18.49-.42l.38-2.65c.61-.25%201.17-.59%201.69-.98l2.49%201c.23.09.49%200%20.61-.22l2-3.46c.12-.22.07-.49-.12-.64l-2.11-1.65zm-7.43%202.52c-1.93%200-3.5-1.57-3.5-3.5s1.57-3.5%203.5-3.5%203.5%201.57%203.5%203.5-1.57%203.5-3.5%203.5z%22%20fill%3D%22%23fff%22%2F%3E%0D%0A%3C%2Fsvg%3E');
}

/* System dark mode support */
@media (prefers-color-scheme: dark) {
	div.row {
		color: #fff;
	}

	div.row:hover {
		background: #444;
		border: 1px solid #444;
		color: #fff;
	}

	#attribution {
		border-top: 1px solid #444;
		color: #fff;
	}

	/* White settings icon for dark mode */
	div.a2a_s_extension_settings {
		background-image: var(--white-settings-icon);
	}
}