html {
	width: 100%;
	height: 100%;
}
body {
	background-color: #1c1917;
	background-image: linear-gradient(#9c213e77 , #1c1917 );
	color: white;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-between;
}
div#pageBody {
	width: 550px;
	height: 475px;
	display: flex;
	vertical-align: middle;
	text-align: center;
	flex-direction: column;
	align-items: center;
}
p{
	font-family: system-ui;
}
.cheerpjlogo {
	width: 80%;
	padding-top: 30px;
}
footer{
	align-items: center;
	width: 100%;
	padding-bottom: 20px ;
	bottom: 0;
	font-family: system-ui;
	font-weight: 300;
}
a {
	color: #c1b4a6;
	text-decoration: none;
}
a:hover {
	cursor: pointer;
	color: #c1b4a6;
}
a#readDocs {
	border: solid 1px #e67300e4;
	color: #e67300e4;
	padding: 13px 15px;
	text-align: center;
	font-size: 14px;
    font-family: system-ui;
	margin: 4px 2px;
	cursor: pointer;
	transition-duration: 0.4s;
	border-radius: 4px;
	font-weight: 500;
	background-color: transparent;
	margin-top: 10px;
	display: flex;
	align-items: center;
	font-weight: bold;
}
a#readDocs:hover {
	border: solid 1px #c1b4a6;
	color: #c1b4a6;
}
div#footerLinks{
	max-width: 50%;
	display: flex;
	justify-content:space-evenly;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 25%;
	padding-right: 25%;
	text-align: center;
	position: relative;
	font-size: 14px;
}
div#footerLogo{
	display: flex;
	align-items: center;
	justify-content: center;
}
img#ltlogo{
	width: 1.5em;
	height: 1.5em;
	display: inline-block;
}
p#footerText{
	margin-left: 12px;
	font-size: 14px;
	color: #c1b4a6;
	display: inline-block;
}
hr.solid {
	max-width: 70%;
	border-top: 1px solid #454442;
	border-bottom: none;
}
.material-icons{
	vertical-align: -10px;
	font-size: 18px !important;
}
