@font-face {
	font-family: 'iconfont';
	src: url('../fonts/icomoon.eot');
	src: url('../fonts/icomoon.eot') format('embedded-opentype'),
		url('../fonts/icomoon.ttf') format('truetype'),
		url('../fonts/icomoon.woff') format('woff'),
		url('../fonts/icomoon.svg') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

[class*='icon_'],
[class^='icon_'] {
	font-family: 'iconfont';
	font-style: normal;
	line-height: 1;
	vertical-align: middle;
	display: inline-block;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon_small_tools_videonote_copy:before {
	content: '\e900';
}

.icon_video-download:before {
	content: '\e901';
}

.icon_image-tools-exit:before {
	content: '\e902';
}
